@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  /* cursor:none; */
}
body {
  overflow-x: hidden;
}
/* Scrollbar uchun rang o'zgartirish */
::-webkit-scrollbar {
  width: 0px;
}

/* Scrollbar tracki (asosiy fon) */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Scrollbarning tugmasi (thumb) */
::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 0px;
  border: 0px solid;
  overflow: hidden;
}
.hero {
  background-image: url("./assets/image/slide/sl6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.call-button {
  position: fixed;
  bottom: 40px;
  left: 40px;
  padding: 20px 20px;
  background-color: #ff8a00;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  z-index: 1000;
  animation: bounce 2s infinite;
  box-shadow: 0px 0px 30px rgb(255, 94, 0); /* Soya qo'shish */
  transition: box-shadow 0.3s ease; /* Cheksiz qalqish effekti */
}

.call-button:hover {
  background-color: #e67e00;
}

.logo {
  height: 90px;
  
}
